<div style="margin: 10px; border-radius: 10px; border: 1px solid #cccccc; overflow: hidden">
  <form style="margin: 5px" #pcForm="ngForm" (ngSubmit)="onPcFormSubmit(pcForm.value)">
    <div class="col-xs-3-">PC Name:
      <input class="form-control" type="text" name="name" ngModel>
    </div>
    <div>Level:
      <input type="number" name="level" ngModel>
    </div>
    <div>Status id:
      <input type="text" name="status" ngModel>
    </div>
  </form>
  <div style="margin: 10px; overflow: hidden">
    <button (click)="onPcFormSubmit(pcForm.value)" type="button"
            class="btn btn-sm" style="background: #a7d9f8"
    >Add PC</button>&nbsp;
  </div>
</div>


<!--
<div class="m-2">
  Hi! my template
  <br>
  {{ pc8 | json }}
  <br>
  id = {{ pc8.id }}
  <br>
  name = {{ pc8.name }}
  <br><br>
  PcAll:<br>
  {{ pcAll | json }}
  <br>
  {{ pcAll[1].name }}
<br><br>
-->





















<!--<br>
<div>
  <h2>Systems-list:</h2>
  <br>
  <h5>{{ pcs$.id }}</h5>
  <h5>{{ pcs$.name }}</h5>
  <h5>{{ pcs$.level }}</h5>
  <h5>{{ pcs$.status }}</h5>

  <br><br>
  in json: {{ pcs$ | json }}
</div>-->


