<div style="margin: 10px; border-radius: 10px; border: 1px solid #cccccc; overflow: hidden">
  <form [formGroup]="myForm" (ngSubmit)="onPcFormSubmit()" novalidate>
    <div class="col-xs-3-">PC Name:
      <input class="form-control" type="text" formControlName="name">
    </div>
    <div>Level:
      <input type="number" formControlName="level" >
    </div>
    <div>Status id:
      <input type="text" formControlName="status" >
    </div>
    <div style="margin: 10px; overflow: hidden">
      <button  type="submit"
               class="btn btn-sm" style="background: #a7d9f8"
      >Add PC</button>
    </div>
  </form>

</div>


<!--
<div class="m-2">
  Hi! my template
  <br>
  {{ pc8 | json }}
  <br>
  id = {{ pc8.id }}
  <br>
  name = {{ pc8.name }}
  <br><br>
  PcAll:<br>
  {{ pcAll | json }}
  <br>
  {{ pcAll[1].name }}
<br><br>
-->





















<!--<br>
<div>
  <h2>Systems-list:</h2>
  <br>
  <h5>{{ pcs$.id }}</h5>
  <h5>{{ pcs$.name }}</h5>
  <h5>{{ pcs$.level }}</h5>
  <h5>{{ pcs$.status }}</h5>

  <br><br>
  in json: {{ pcs$ | json }}
</div>-->


